
/* 列表 */
.list_box{display:block;float:left;width:100%;}

/* 列表单行头 */
.list_box .list_hd{display:block; /*border-bottom:2px solid #c98c70;*/font-weight:bold;font-size:15px;color:#444;height:40px;line-height:40px;padding:0 10px;}

/* 列表切换头 */
.list_box .hd_ul{display:block;float:left;width:100%;/*border-bottom:2px solid #c98c70;*/}
.list_box .hd_ul .hd_lst{display:inline-block; float:left;height:38px;line-height:38px;cursor:pointer;border-right:1px solid #eee;text-align:center;width:71px;padding:0 4px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.list_box .hd_ul .hd_lst.cur{}

/* 面包屑 */
.nav_ul{display:block;float:left;font-weight:normal;}
.nav_ul .nav_lst{display:block;float:left;color:#999;margin-right:5px;}
.nav_ul .nav_lst.cur{font-weight:bold;color:#000;}

/* 列表下内容的切换 */
.list_cont{display:block;float:left; width:100%;}
.cont_one{display:block;}

.list_ul{display:block;float:left; width:100%;}
.list_ul .list_lst{display:block;padding:0 10px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;border-top:1px solid #eee;}
.list_ul .list_lst:first-child{border-top:none;}
.list_ul .list_lst:first-child ._ct{height:40px; line-height:40px;}
.list_ul .list_lst ._ct{ display: block;width: 100%;float: left; overflow:hidden;text-overflow: ellipsis;white-space: nowrap;height:39px;line-height:39px;}
.list_ul .list_lst ._link{height:40px;}
.list_ul .list_lst ._item{display:inline-block;font-style:normal;background-color:#c98c70;color:#fff; border-radius:3px;width:20px;height:20px;text-align:center;line-height:20px;margin-right:10px;}
.list_ul .list_lst ._dot{display:inline-block;width:3px;height:3px;line-height:3px;margin-right:10px;margin-top:18px;float:left;background-color:#ccc;vertical-align: middle;}
.list_ul .list_lst ._lab{display:inline-block;width:56px;font-style:normal;color:#777;margin-right:10px;}
.list_ul .list_lst .fa-commenting-o{display:inline-block;margin-right:10px;color:#c98c70;width:30px;text-align:center;height:30px;line-height:30px;vertical-align:middle;}
.list_ul .list_lst ._job{display:inline-block;width:50%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.list_ul .list_lst ._pay{float:right;color:#c98c70;}
.list_ul .list_lst .max_lab{display:inline-block; width:80%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.list_ul .list_lst .time{float:right;font-size:12px;color:#999;}

.list_ul .list_lst .fa-caret-right{display:none;margin-right:10px;}
.list_ul .list_lst:hover .fa-caret-right{display:inline-block;}
.list_ul .list_lst.cur .fa-caret-right{display:inline-block;}
.sec_ul .list_lst.cur{font-weight:bold;}



/* 图片列表 */
.list_ul ._cont{display:block;float:left;width:100%;padding:10px 0;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.list_ul ._rt{position:relative;display:block; margin-left:120px;height:100px;}
.list_ul ._rt ._name{display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.list_ul ._rt ._dw{white-space: normal;height:44px;overflow:hidden;color:#555;line-height:22px;}
.list_ul ._rt ._zw{color:#555;margin-top:13px;}
.list_ul ._rt ._btn_box{position:absolute;bottom:3px;left:0;}
.list_ul ._rt ._btn +._btn{margin-left:10px;}
.list_ul ._rt ._num{display:block;color:#c6c6c6;margin-top:12px;line-height:22px;}
.list_ul ._rt ._num +._num{margin-top:0;}
.list_ul ._rt ._dt{display:block;color:#555;margin-top:10px;height:70px; line-height:24px; white-space:normal;overflow:hidden;}

/* 单行排列 */
/*.img_ul{height:120px;}*/
.img_ul .list_lst{width:220px;float:left;border-top-width:0px;}
 
/* 两行排列 */
.img_ul_2{height:280px;overflow:hidden;}
.img_ul_2 .list_lst{border-top-width:2px;float:left;width:100%;padding:0;}
.img_ul_2 .list_lst ._img_100{margin-left:10px;}
.img_ul_2 .list_lst:first-child{padding-bottom:19px;}
.img_ul_2 .list_lst+.list_lst{padding-top:19px;}

.img_ul_3{/* height:320px; */}
.img_ul_3 .list_lst{display:inline-block; float:left;width:220px;border-top:none;}
.img_ul_3 .fg_line{width:100%;padding:0;}
._line{display:block; border-top:2px solid #eee;width:100%;margin:19px 0;}


/*图片*/
._img_100{display:inline-block;float:left; border:1px solid #eee;width:98px;height:98px;text-align:center;margin-right:10px;}
._img_100:hover{border-color:#c98c70;}
.img_360{display:inline-block; width:360px;height:200px;}
.img_60{display:block; width:60px;margin:20px 19px 10px;height:40px;}
._tip{float:left;text-align:center;width:60px;margin:0 19px 10px;}
.img_30{width:28px;height:28px; display:block;float:left;border-radius:50%;border:1px solid #eee;}
._img_3{display:inline-block;float:left; width:28px;height:28px;border:1px solid #eee;}
._img_6{display:inline-block;width:60px;height:60px;border-radius:50%;}
.img_70{height:100%;width:70px;}

/* 按钮 */
._btn{display:inline-block;float:left;border:1px solid #eee;border-radius:3px;height:28px;line-height:28px;text-align:center;}
.btn_primary{background-color:#c98c70;color:#fff;}
.btn_primary:hover{background-color:#a66d52;}

.btn_default{background-color:#777;color:#fff;border:1px solid #777;}

.btn_sml{width:48px;}
.btn_mid{width:68px;}
.btn_max{padding:0 10px;margin-top:5px;background-color:#227efd;border-color:#227efd;}
.btn_max:hover{background-color:#0e70f8;border-color:#0e70f8;}


/* 问卷调查 */
.list_ul .que_box{display:block;padding:0;}
.list_ul .que_box ._cont{padding:0;}
.que_box .que_name{padding:10px;height:20px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.que_cont{display:block;padding:0 10px 0px;}
.que_cont ._name{height:40px;line-height:40px;color:#555;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.que_cont ._name ._week{display:inline-block;float:right;margin-top:10px; width:40px;height:20px;line-height:20px;text-align:center; background-color:#c98c70; color:#fff;}
.que_cont .btn_box{display:inline-block;float:left;}
.que_cont ._btn{margin-right:10px;}
.que_cont ._btn+._btn{margin-left:0;}
.que_cont ._count{height:30px;line-height:30px;color:#555;float:right;margin-bottom:10px;}
.que_cont ._count .num{color:#c98c70; font-weight:bold;}

/* 章程 */
._detail{display:block; padding:10px;height:100px;text-indent:10px;white-space: normal;line-height:24px;}
._detail ._account{color:#c98c70;}


/*公共色值*/
.f_c5{color:#555;}
.f_c9{color:#999;}
.f_red{color:#ff4d72;}

.f_bd_1{color:#ff0100; font-weight:bold;}
.f_bd_2{color:#999;font-weight:bold;}

.f_sz12{font-size:12px!important;}



