<div class="line_1 edi moveMod top_show" DR_drag="1" DR_replace="1">
    <div class="list_box" data-single="0" data-array="">
        <p class="list_hd bot_main_color">关于社团</p>
        <ul class="list_ul">
            <li class="list_lst">
                <span class="_ct">
                    <i class="_dot"></i><a href="javascript" class="_link">社团章程</a>
                </span>
            </li>
            <li class="list_lst">
                <span class="_ct">
                    <i class="_dot"></i><a href="javascript" class="_link">社团简介</a>
                </span>
            </li>
            <li class="list_lst">
                <span class="_ct">
                    <i class="_dot"></i><a href="javascript" class="_link">入会须知</a>
                </span>
            </li>
            <li class="list_lst">
                <span class="_ct">
                    <i class="_dot"></i><a href="javascript" class="_link">社团章程</a>
                </span>
            </li>
            <li class="list_lst">
                <span class="_ct">
                    <i class="_dot"></i><a href="javascript" class="_link">社团简介</a>
                </span>
            </li>
            <li class="list_lst">
                <span class="_ct">
                    <i class="_dot"></i><a href="javascript" class="_link">入会须知</a>
                </span>
            </li>
            <li class="list_lst">
                <span class="_ct">
                    <i class="_dot"></i><a href="javascript" class="_link">入会须知</a>
                </span>
            </li>
        </ul>
    </div>
    <div class="mod_edi_but">
		<div class="chenga_name">
			<input type="text" placeholder="标题名称">
			<a class="tit_qd">确定</a>
			<a>取消</a>
		</div>
    	<ol>
    		<li>
    			<a class="on">更名<i class="fa fa-angle-up"></i></a>
    			<p class="chenga_name_sel">
    				<span>关于社团</span>
    			</p>
    		</li>
    		<li><a class="modular_set pub_mask">设置</a></li>
    		<li><a href="">去除</a></li>
    		<li><a href="">加数据</a></li>
    	</ol>
    </div>
    <i class="drag"></i>  
</div>